<?xml version="1.0" ?>
<launch>
  <arg name="rviz" default="true"/>
  <arg name="robot_ip" default ="192.168.2.106"/>
  <arg name="load_gripper" default="true" />
  <arg name = "transfo_world2map" default="1.3 0.06 0.38 0 0 1 0" />

  <param name="detected_objects_topic" type="str" value="/zed2/zed_node/obj_det/objects"/>
  <param name="camera_pos_topic" type="str" value="/zed2/zed_node/pose_with_covariance"/>
  <param name="object_to_be_detected" type="str" value="Person"/>

  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <include file="$(find panda_moveit_config)/launch/move_group.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="to_panda" args="0 0 0 0 0 0  world panda_link0" />
  <!--<node pkg="tf2_ros" type="static_transform_publisher" name="world_link_to_map" 
    args="$(arg transfo_world2map) world map" />-->


  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>

  <group if="$(arg rviz)">
        <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch" >
            <arg name = "rviz_config" value = "$(find zed_franka_planner)/rviz/zed_panda_object_tracking.rviz"/>
        </include>
  </group>


  <node pkg="zed_franka_planner" type="skeleton_tracking" name="skeleton_tracking" output="screen"/>


</launch>